{#User photo section#}
    <div class="large-5 column left-padding-0">
        <img id="user-photo" src="{{ info.userPhoto }}" alt="{{ info.userFirstname }} {{ info.userLastname  }}" width="190px">
    </div>
{# User information section #}
    <div class="large-7 column end info" id="info">
        <div class="row column left-padding-0">
            <h2> Agent <span class="first-name">{{ info.userFirstname }}</span> <span class="last-name">{{ info.userLastname }}</span></h2>
            <div class="large-6 column left-padding-0">
                <label> ID: </label>
                <span id="id">{{ info.userID }}</span>
            </div>
            <div class="large-6 column left-padding-0">
                <label>Last logined: </label>
                <span id="last-login">{{ info.userLastlogin }}</span>
            </div>
        </div>
{# Registration data #}
        <div class="row column left-padding-0" id="registration-info">
        {% include 'user_content_registration.html' %}
        </div>
{# Personal data #}
        <div class="row column left-padding-0" id="personal-info">
            {% include 'user_content_personal.html' %}
        </div>
    </div>
