
    <div class="large-10 column"><h2>Registration data </h2></div>
    <div class="large-2 column" id="regdata">
        {% if info.userInfo == 'me' %}
            <a href="javascript:" title="Edit" id="edit-regdata"><i class="fi-pencil"></i></a>
        {% endif %}
    </div>
    <div class="large-12 column" id="full-name">
        <span>Full name: </span><span class="first-name">{{ info.userFirstname }} </span>
        <span class="last-name">{{ info.userLastname }}</span>
    </div>

    <div class="large-12 column">E-mail: <span id="email">{{ info.userEmail }}</span></div>
