body{
    background-image: url("../img/BG.jpg");
    background-attachment: fixed;
    background-size: contain;
}
.smaller-text{
    font-size: smaller;
}
.menu li a{
    padding: 5px !important;

}
.is-drilldown-submenu-parent > a::after{
    content: normal!important;
}
/*.is-accordion-submenu-parent > a::after{*/
    /*content: url("../img/icons/pencil.jpg")!important;*/
/*}*/
/*.is-accordion-submenu-parent > a{*/
    /*width: 10px*/
/*}*/
a:hover{
    color: #dd0017;
}
.blacked{
    color: black;
    background-color: black;
}
.legend{
    margin-top: 5px;
    padding: 0 7px;
    font-size: 12px;
    border-bottom: #505050 dotted 1px;
}
.login-form{
    position: fixed;
    top: 33%;
    padding-bottom: 20px;
}
#detail, aside{
    background-color: #9e9e9e;
    opacity: 0.93;
}
.block{
    display: block !important;
}
.block a:after{
    content: normal !important;
}
.greating-buttons{
    position: fixed;
    left: 30%;
    top: 80%;
    padding-bottom: 20px;
}
.login-canvas, .signup-canvas{
    position: fixed;
    top: 1.5%;
    height: 97%;
    width: 33%;
    overflow-y: auto;
    display: inline-block;
    background-color: #e5e5e5;
    z-index: 4;
}
.login-canvas{
    left: 0;
}
.signup-canvas{
    left: 67%;
}
.hide{
    display: none;
}
.canvas-hide-left{
    /*display: none;*/
    -moz-animation: hiding-left 1s linear forwards;
    -webkit-animation: hiding-left 1s linear forwards;
    animation: hiding-left 1s linear forwards;
}
.canvas-show-left{
    /*display: inline-block;*/
    -moz-animation: show-left 0.2s linear forwards;
    -webkit-animation: show-left 0.2s linear forwards;
    animation: show-left 0.2s linear forwards;
}
.canvas-hide-right{
    /*display: none;*/
    -moz-animation: hiding-left 1s linear forwards;
    -webkit-animation: hiding-left 1s linear forwards;
    animation: hiding-right 1s linear forwards;
}
.canvas-show-right{
    /*display: inline-block;*/
    -moz-animation: show-right 0.2s linear forwards;
    -webkit-animation: show-right 0.2s linear forwards;
    animation: show-right 0.2s linear forwards;
}
.errorlist{
    color: #b10012;
    font-weight: bold;
}
@keyframes hiding-left {
    /*0% {display: none;}*/
    0% {transform: none;}
    100% {transform: translate(-42%, 0);}
    /*100% {display: none;}*/
}
@-moz-keyframes hiding-left {
    /*0% {display: none;}*/
    0% {transform: none;}
    100% {transform: translate(-200%, 0);}
    /*100% {display: none;}*/
}
@-webkit-keyframes hiding-left {
    /*0% {display: none;}*/
    0% {transform: none;}
    100% {transform: translate(-200%, 0);}
    /*100% {display: none;}*/
}
@keyframes show-left {
    /*0% {display: none;}*/
    0% {transform: translate(-42%, 0);}
    100% {transform: none;}
    /*100% {display: none;}*/
}
@-moz-keyframes show-left {
    /*0% {display: none;}*/
    0% {transform: translate(-42%, 0);}
    100% {transform: none;}
    /*100% {display: none;}*/
}
@-webkit-keyframes show-left {
    /*0% {display: none;}*/
    0% {transform: translate(-42%, 0);}
    100% {transform: none;}
    /*100% {display: none;}*/
}
@keyframes hiding-right {
    /*0% {display: none;}*/
    0% {transform: none;}
    100% {transform: translate(110%, 0);}
    /*100% {display: none;}*/
}
@-moz-keyframes hiding-right {
    /*0% {display: none;}*/
    0% {transform: none;}
    100% {transform: translate(110%, 0);}
    /*100% {display: none;}*/
}
@-webkit-keyframes hiding-right {
    /*0% {display: none;}*/
    0% {transform: none;}
    100% {transform: translate(110%, 0);}
    /*100% {display: none;}*/
}
@keyframes show-right {
    /*0% {display: none;}*/
    0% {transform: translate(110%, 0);}
    100% {transform: none;}
    /*100% {display: none;}*/
}
@-moz-keyframes show-right {
    /*0% {display: none;}*/
    0% {transform: translate(110%, 0);}
    100% {transform: none;}
    /*100% {display: none;}*/
}
@-webkit-keyframes show-right {
    /*0% {display: none;}*/
    0% {transform: translate(110%, 0);}
    100% {transform: none;}
    /*100% {display: none;}*/
}