@font-face {
    font-family: MyraidRegular;
    src: url("fonts/MyriadProRegular.ttf") format("truetype");
}
@font-face {
    font-family: MyriadSemibold;
    src: url("fonts/MyriadProSemiBold.ttf") format("truetype");
}
body{
    background-image: url("../img/BG.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: MyraidRegular, sans-serif;
    /*font-size: 13px;*/
}
main, header {
    /*font-size: 13px;*/
}
h1, h2, h3, h4, h5, h6 {
    font-family: MyriadSemibold, sans-serif;
}
.button{
    border-radius: 0;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 15px;
}
.small-font-big{
    font-size: 30px;
}
.font-12{
    font-size: 10px;
}
.small-greating-buttons{
    position: absolute;
    top: 60%;
}
@media screen and (min-width: 40em){
    .medium-font-big{
        font-size: 54px;
    }
    .medium-font-60{
        font-size: 30px;
    }
    .medium-greating-buttons {
        position: absolute;
        top: 60%;
        /*padding-left: 0;*/
        /*margin-right: 100px;*/
    }
}
@media screen and (min-width: 64em){
    .large-font-big{
        font-size: 90px;
    }
    .large-font-60{
        font-size: 60px;
    }
    .large-greating-buttons{
        position: absolute;
        top: 73%;
        /*padding-left: 0;*/
        /*margin-right: 100px;*/
        /*display: inline-block;*/
    }
    .shield-header-greating{
        color: white;
        font-weight: bolder;
        position: absolute;
        top: 29%;
        left: 35.5%;
    }
    #LoginButton{
        margin-left: 20%;
        /*padding-left: 10%;*/
    }
     #SignupButton{
        margin-left: 5%;
        /*padding-left: 10%;*/
    }
    .large-canvas{
        width: 33%!important;
    }
    .large-signup-canvas{
    left: 67%!important;
}
    .large-float-left{
        float: left!important;
    }
}
.shield-header{
    color: white;
    font-weight: bolder;
}
.shield-container h1{
    color: white;
}
.smaller-text{
    font-size: smaller;
}
.menu li a{
    padding: 5px !important;

}
.is-dropdown-submenu{
    background-color: rgba(166,178,174, 0.55);
    border-color: transparent;
}
.is-drilldown-submenu-parent > a::after{
    content: normal!important;
}
a:hover{
    color: #dd0017;
}
.blacked{
    color: black;
    background-color: black;
}
.legend{
    margin-top: 5px;
    padding: 0 7px;
    font-size: 12px;
    border-bottom: #505050 dotted 1px;
}
.login-form{
    position: absolute;
    top: 35%;
    padding:0 20%;
}
.register-form{
    position: absolute;
    top: 20%;
    padding:0 20%;

}
.block{
    display: block !important;
    background-color: transparent;
}
.block a{
    color: black;
    font-size: 12px;
}
.block a:hover{
    color: white;
    font-size: 13px;
}
.block a:after{
    content: normal !important;
}
.left-padding-0{
    padding-left: 0;
}
.greating-buttons .button, .edit .button{
    border: solid white 2px;
    padding: 0.63rem;
}
.greating-buttons .button{
    padding: 0.3rem 0.63rem;
    font-weight: 800;
}
.bg1{
    background-color: #8a8a8a;
    opacity: 0.8;
}
#info, aside{
    min-height: 237px;
}
#my-profile h3{
    color:white;
}
.canvas,
.info {
    background-color: rgba(166,178,174, 0.55);
}
.canvas{
    position: absolute;
    top: 1.5%;
    height: 97%;
    width: 66%;
    overflow-y: auto;
    display: inline-block;
    z-index: 4;
}
.canvas label,
.canvas a,
.canvas h2,
.login,
.edit label,
.edit a {
    color: white !important;
    line-height: 1.3;
}
.canvas h2{
    font-size: 32px;
}
.canvas input:not(#id_photo),
.edit input:not(#id_photo),
.edit .button {
    background-color: transparent;
    border: solid white 2px;
    margin-bottom: 10px;
    line-height: 1.2;
    height: 1.87rem;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}
.edit .button {
    padding: 5px 10px !important;
    margin-right: 18px;
}
.login-canvas{
    left: 0;
}
.signup-canvas{
    left: 34%;
}
.hide{
    display: none;
}
.helptext{
    font-size: 11px;
    color: white;
}
form:not(#personal-edit) > br {
    display: none;
}
.canvas-hide-left{
    -moz-animation: hiding-left 1s linear forwards;
    -webkit-animation: hiding-left 1s linear forwards;
    animation: hiding-left 1s linear forwards;
}
.canvas-show-left{
    -moz-animation: show-left 0.2s linear forwards;
    -webkit-animation: show-left 0.2s linear forwards;
    animation: show-left 0.2s linear forwards;
}
.canvas-hide-right{
    -moz-animation: hiding-left 1s linear forwards;
    -webkit-animation: hiding-left 1s linear forwards;
    animation: hiding-right 1s linear forwards;
}
.canvas-show-right{
    -moz-animation: show-right 0.2s linear forwards;
    -webkit-animation: show-right 0.2s linear forwards;
    animation: show-right 0.2s linear forwards;
}
.errorlist{
    color: #b10012;
    font-weight: bold;
}
aside li a{
    font-size: 18px;
}
@keyframes hiding-left {
    0% {transform: none;}
    100% {transform: translate(-200%, 0);}
}
@-moz-keyframes hiding-left {
    0% {transform: none;}
    100% {transform: translate(-200%, 0);}
}
@-webkit-keyframes hiding-left {
    0% {transform: none;}
    100% {transform: translate(-200%, 0);}
}
@keyframes show-left {
    0% {transform: translate(0, 110%);}
    100% {transform: none;}
}
@-moz-keyframes show-left {
    0% {transform: translate(0, 110%);}
    100% {transform: none;}
}
@-webkit-keyframes show-left {
    0% {transform: translate(0, 110%);}
    100% {transform: none;}
}
@keyframes hiding-right {
    0% {transform: none;}
    100% {transform: translate(110%, 0);}
}
@-moz-keyframes hiding-right {
    0% {transform: none;}
    100% {transform: translate(110%, 0);}
}
@-webkit-keyframes hiding-right {
    0% {transform: none;}
    100% {transform: translate(110%, 0);}
}
@keyframes show-right {
    0% {transform: translate(0, 110%);}
    100% {transform: none;}
}
@-moz-keyframes show-right {
    0% {transform: translate(0, 110%);}
    100% {transform: none;}
}
@-webkit-keyframes show-right {
    0% {transform: translate(0, 110%);}
    100% {transform: none;}
}