{% extends 'index.html' %}
{% block header %}
    <h1 class="shield-header-greating large-font-big medium-font-big small-font-big">S.H.I.E.L.D.</h1>
{% endblock %}
{% block content %}
{#  Left Off-Canvas panel whith Login-form  #}
    <div class="canvas large-canvas login-canvas canvas-hide-left hide" id="offCanvasLogin">
        <div class="small-12 medium-12 large-12 columns login-form">
            <form id="login" role="form" method="post">
                <div class="small-12 medium-12 large-12 column" id="error-login"></div>
                {% csrf_token %}
                <div class="small-12 medium-12 large-3 column"><label for="id_login_username">Login: </label></div>
                <div class="small-12 medium12 large-12 column"><input id="id_login_username" type="text" name="username"></div>
                <div class="small-6 medim-6 large-3 column"><label for="id_login_password">Password: </label></div>
                <div class="small-6 medium-6 large-6 large-offset-3 column"><a class="smaller-text" href="{% url 'password_reset' %}">Forgot password?</a></div>
                <div class="small-12 medium-12 large-12 column"><input id="id_login_password" type="password" name="password"></div>
                <div class="small-12 medium12 large-12 column">
                    <input class="button small-12 medium-6 large-6" type="submit" value="Sign In">
                </div>
            </form>
        </div>
    </div>
{#  Buttons, that opens Login-panel and Signup-panel  #}
    <div class="small-12 medium-12 large-12 column large-greating-buttons medium-greating-buttons small-greating-buttons greating-buttons left-padding-0">
        <div class="small-12 medium-6 medium-offset-3 large-3 large-offset-3 column left-padding-0">
            <div class="small-12 medium-12 large-6 button bg1" id="LoginButton">SIGN IN</div>
        </div>
         <div class="small-12 medium-6 medium-offset-3 large-3 large-offset-0 column end left-padding-0">
            <button type="button" class="small-12 medium-12 large-6 button bg1" id="SignupButton">SIGN UP</button>
        </div>
    </div>
{#  Right Off-Canvas panel whith SignUp-form (AJAXed)  #}
    <div class="canvas large-canvas signup-canvas large-signup-canvas canvas-hide-right hide" id="offCanvasSignup"></div>
{% endblock %}