        <form enctype="multipart/form-data" id="user-edit" action="{% url 'edit-user' %}" method="POST">
            {% csrf_token %}
{#            <input type="hidden" name="user" value={{ request.user.id }}>#}
{#             <label for="id_username">Please upload your photo: </label>#}
{#            {{ form.username }}#}
{#            {{ form.errors }}#}
{#            <label for="id_first_name">Please set your address: </label>#}
{#            {{ form.address }}#}
            {{ form }}
{#            <label>Image: </label>#}
{#            <input type="file" name="image"/>#}
            <input class="button" type="submit" value="Save">
            <a class="button alert cancel" href="javascript:" value="registration">Cancel</a>
        </form>
