{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "static/css/foundation.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/foundation-icons.css'%}">
    <link rel="stylesheet" href="{% static "static/css/app.css" %}">
</head>
<body>
    <header class="row column">
        {% if request.user.is_authenticated %}
            <div class="large-2 column"><a href="{% url 'logout' %}">Logout</a></div>
            <div class="large-3 column">you logined as <a href="javascript:" class="user-list" value="{{ request.user.id }}">{{ request.user.username }}</a></div>
        {% endif %}
    </header>
    <main class="row">
    {% if request.user.is_authenticated %}
        <aside class="large-2 column" id="aside">
{#            <ul class="no-bullet">#}
{#                {% for usr in users %}#}
{#                    <li><a class="user-list" value="{{ usr.id }}" href="javascript:">{{ usr.first_name }} {{ usr.last_name }}</a></li> {# {% url 'user' user_id=usr.id%} #}
{#                {% endfor %}#}
{#            </ul>#}

            {% regroup users by last_name.0|capfirst as grouped %}
            <ul class="vertical menu" data-accordion-menu>
                {% for usr in grouped %}
                    <li><a>{{ usr.grouper }}</a>
                    <ul class="vertical menu nested">
                        {% for item in usr.list %}
                            <li><a class="user-list" value="{{ item.id }}" href="javascript:">{{ item.first_name }} {{ item.last_name }}</a></li>
                        {% endfor %}
                    </ul></li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}
        <div class="large-10 column" id="detail">
        {% block content %}

        {% endblock %}
        </div>


    </main>
    <script src="{% static "static/js/vendor/jquery.js" %}"></script>
    <script src="{% static "static/js/vendor/what-input.js"%}"></script>
    <script src="{% static "static/js/vendor/foundation.min.js"%}"></script>
    <script src="{% static "static/js/app.js"%}"></script>

{% comment %}<script>
    $(document).ready(
    function () {
        $('.user-list').click(
        function() {
            $.ajax(
                {
                    type: 'GET',
                    url:'/user/',
                    data:{'user_id':$(this).attr('value')},
                    dataType:'json',
                    cache: false,
                    success: function (data) {
                        var info = data.userInfo;
                        $('#detail').html(data + info);

                    },
                });

        });
    }
)

</script>{% endcomment %}
</body>
</html>